.about {
  line-height: 18px;

  &__text {
    font-weight: 400;
    padding-left: $padding-body-breakpoint-0;
    padding-right: $padding-body-breakpoint-0;

    p:first-child {
      margin: 0;
    }

    &--hidden-1,
    &--hidden-2 {
      display: none;
    }
  }

  &__img {
    margin-top: 16px;
    img {
      width: 100%;
    }
  }
}

@media screen and (min-width: $breakpoint-1) {
  .about {
    display: flex;
    line-height: 20px;

    &__text {
      width: 50%;
      padding-left: $padding-body-breakpoint-1;
      padding-right: $padding-body-breakpoint-1;

      &--hidden-1 {
        display: inline;
      }
    }

    &__img {
      margin: 0;
      width: 50%;
      padding: 0 $padding-body-breakpoint-1;
    }
  }
}

@media screen and (min-width: $breakpoint-2) {
  .about {
    &__text {
      padding-left: $padding-body-breakpoint-2;
      padding-right: $padding-body-breakpoint-2;

      &--hidden-2 {
        display: inline;
      }
    }
  }
}
