.aside {
  display: flex;
  flex-direction: column;
  width: 320px;
  min-height: 100vh;
  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2),
    -2px 0px 4px 0px rgba(14, 24, 80, 0.2);

  &__header {
    display: flex;
    align-items: center;
    height: 88px;
    padding: 0px $padding-menu-sides;
  }

  &__logo {
    margin-left: 16px;
    margin-right: auto;
  }

  &__footer {
    margin-top: auto;
    padding: 0px $padding-menu-sides;
    padding-bottom: 32px;
  }

  &__social-list {
    margin-bottom: 16px;
  }

  &__contacts {
    margin-bottom: 40px;
  }
}

