.aside {
  display: flex;
  flex-direction: column;
  width: 320px;
  min-height: 100vh;
  background-color: $color-background-modal;
  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2),
    -2px 0px 4px 0px rgba(14, 24, 80, 0.2);

  @media screen and (min-width: $desktop) {
    box-shadow: none;
  }

  &--positioned {
    position: absolute;
    transition: transform 600ms ease;
    transform: translate(-100%);
    z-index: 10;
    
    @media screen and (min-width: $desktop) {
      position: static;
      transform: none;
      z-index: 0;
    }
  }

  &--positioned--open {
    transform: translate(0);
  }

  &__header {
    display: flex;
    align-items: center;
    height: 88px;
    padding: 0px $padding-menu-sides;
  }

  &__close {
    @media screen and (min-width: $desktop) {
      display: none;
    }
  }

  &__logo {
    margin-left: 16px;
    margin-right: auto;

    @media screen and (min-width: $desktop) {
      margin-left: 0px;
    }
  }

  &__footer {
    margin-top: auto;
    padding: 0px $padding-menu-sides;
    padding-bottom: 32px;
  }

  &__social-list {
    margin-bottom: 16px;
  }

  &__contacts {
    margin-bottom: 40px;
  }


}
