.button {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  padding: 0;
  cursor: pointer;

  &__title {
    margin-right: 10px;
  }

  &:hover &__title {
    color: $color-text-page-menu
  }

  &:active &__title {
    filter: brightness(0.5);
  }

  &__logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $color-background-button;
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover &__logo {
    filter: brightness(0.8);
    box-shadow: 0px 0px 4px 3px rgba(34, 60, 80, 0.2);
  }

  &:active &__logo {
    filter: brightness(0.5);
    box-shadow: none;
  }

  &__title {
    display: none;
  }

  &__logo--type {
    &--burger {
      background-image: url(../img/ico-burger.svg);
    }
    &--call {
      background-image: url(../img/ico-call.svg);
    }
    &--message {
      background-image: url(../img/ico-message.svg);
    }
    &--profile {
      background-image: url(../img/ico-profile.svg);
    }
    &--settings {
      background-image: url(../img/ico-settings.svg);
    }
    &--search-status {
      background-image: url(../img/ico-search-status.svg);
    }
    &--search {
      background-image: url(../img/ico-search.svg);
    }
    &--close {
      background-image: url(../img/ico-close.svg);
    }
  }
}

@media screen and (min-width: $desktop) {
  .button__title {
    display: inline;
  }
}
