.button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: $color-background-button;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  &:hover {
    filter: brightness(0.8);
    box-shadow: 0px 0px 4px 3px rgba(34, 60, 80, 0.2);
  }

  &:active {
    filter: brightness(0.5);
    box-shadow: none;
  }

  &--type {
    &--burger {
      background-image: url(../img/buttons/burger.svg);
    }
    &--call {
      background-image: url(../img/buttons/call.svg);
    }
    &--message {
      background-image: url(../img/buttons/message.svg);
    }
    &--profile {
      background-image: url(../img/buttons/profile.svg);
    }
    &--settings {
      background-image: url(../img/buttons/settings.svg);
    }
    &--search {
      background-image: url(../img/buttons/search.svg);
    }
  }
}

