.different-brands {
    ////////
  background-color: #f8f8f8;
  max-width: 1120px;
  margin: 0 auto;
    //////////
  &__grid {
    margin-top: 16px;
  }

  &__btn-more {
    display: none;
  }
}

@media screen and (min-width: $tablet) {
  .different-brands {
    &__grid {
      margin-top: 24px;
    }

    &__btn-more {
      display: block;
      margin-top: 24px;
      margin-left: $padding-body-tablet;
    }
  }
}

@media screen and (min-width: 1120px) { //$desktop
  .different-brands {
    &__btn-more {
      margin-left: $padding-body-desktop;
    }
  }
}
