.drop-down-grid {
  @include list-reset;
  padding-left: 16px;
  
}

@media screen and (min-width: $tablet) {
  .drop-down-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px 32px;
    padding: 0 $padding-body-tablet;
    overflow: hidden;
    transition: max-height 900ms ;
  }
}

@media screen and (min-width: 1120px) { //$desktop
  .drop-down-grid {
    grid-template-columns: repeat(4, 1fr);
    padding: 0 $padding-body-desktop;
  }
}
