.modal {
  &--type--feedback {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    transform: translate(115%);
    transition: transform 600ms ease;
    max-width: 440px;
    min-height: 100vh;
    background-color: $color-background-modal;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
      16px 0px 52px rgba(14, 24, 80, 0.2);
  }

  &--open.modal--type--feedback {
    transform: translate(0);
  }

  &--type--aside {
    position: absolute;
    transition: transform 600ms ease;
    transform: translate(-100%);
    z-index: 10;
    
    @media screen and (min-width: $desktop) {
      position: static;
      transform: none;
      z-index: 0;
    }
  }

  &--open.modal--type--aside {
    transform: translate(0);
  }

  &__close {
    margin-top: 24px;
    margin-left: 16px;

    @media screen and (min-width: $tablet) {
      position: fixed;
      left: -48px;
      top: 40px;
      margin: 0;
    }
  }

  &__title {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 24px;
  }
}

@keyframes modal-background-open {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.96;
  }
}
