.nav {
  position: absolute;
  width: 320px;
  background-color: antiquewhite;
  transform: translateY(-220px);
}

@media screen and (min-width: $breakpoint-2) {
  .nav {
    position: relative;
    transform: translateY(0);
  }
  
}