.page-menu {
  padding: 14px $padding-body;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  &__list {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    gap: 5px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    word-break: keep-all;
    line-break: none;
    white-space: nowrap;
    border-radius: 6px;
    cursor: pointer;

    &:hover {
      background-color: $color-background-menu-item;
    }
  }

  &__item--active {
    background-color: $color-background-menu-item;
    border: 2px solid $color-border;
  }

  &__link {
    display: block;
    font-size: 16px;
    text-decoration: none;
    color: $color-text-menu;
    padding: 8px 13px;
  }

  &__item:hover &__link {
    color: black;
  }
}

@media screen and (min-width: $tablet) {
  .page-menu {
    padding-left: $padding-body-tablet;
    padding-right: $padding-body-tablet;
  }
}

@media screen and (min-width: $desktop) {
  .page-menu {
    padding-left: $padding-body-tablet;
    padding-right: $padding-body-tablet;

    &__list {
      flex-wrap: wrap;
    }
  }
}
