.repair {
  padding-bottom: 24px;
    
  &__brands {
    min-height: 120px;
    margin-top: 16px;
  }

  &__technics {
    min-height: 210px;
    margin-top: 16px;
  }

  &__btn-more {
    display: none;
  }
  
}

@media screen and (min-width: $tablet) {
  .repair {
    padding-bottom: 32px;

    &__brands, &__technics {
      max-height: 160px;
      margin-top: 24px;
    }

    &__technics {
      min-height: 160px;
      margin-top: 16px;
    }

    &__item {
      width: auto;
      transition: all 400ms ease;
    } 

    &__item:hover {
      transform: scale(1.05);
    }

    &__btn-more {
      display: block;
      margin-top: 24px;
      margin-left: $padding-body-tablet;
    }
  }
}

@media screen and (min-width: $desktop) {
  .repair {
    &__btn-more {
      margin-left: $padding-body-desktop;
    }
  }
}