.top-menu {
  display: flex;
  flex-wrap: nowrap;
  overflow-y: auto;
  list-style: none;
  padding: 0 $padding-body-breakpoint-0;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  &__item {
    word-break: keep-all;
    line-break: none;
    white-space: nowrap;
    padding: 8px 13px;
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius: 6px;
    cursor: pointer;

    &:hover {
      background-color: $color-background-menu-item;
    }
  }

  &__item--active {
    background-color: $color-background-menu-item;
    border: 2px solid $color-border;
  }

  &__link {
    font-size: 16px;
    text-decoration: none;
    color: $color-text-menu;
  }

  &__item:hover &__link {
    color: black;
  }
}

@media screen and (min-width: $breakpoint-1) {
  .top-menu {
    padding: 0 $padding-body-breakpoint-1;
  }
}

@media screen and (min-width: $breakpoint-2) {
  .top-menu {
    flex-wrap: wrap;
    padding: 0 $padding-body-breakpoint-2;
  }
}
