@import '~normalize.css';
@import 'fonts';

// bold - h1, tel, table button,
// medium -  nav, nav , read/watch more, отзыв, mail, leng,
//           ремонт карт.,th, get комер предл, footer
// regular - body , h2, table body, bottom table <p>,

$tablet: 768px;
$desktop: 1366px;
$color-background-main: #f8f8f8;
$color-background-header: #ffffff;
$color-background-modal: #ffffff;
$color-background-menu-item: #ffffff;
$color-background-card: #ffffff;
$color-background-button: #ff3e79;
$color-border: #41f6d7;
$color-border-field: #eaeaea;
$color-text-placeholder: #b5b6bc;
$color-text-body: #1b1c21;
$color-text-page-menu: #7e7e82;
$color-text-hover: #7e7e82;
$color-text-h2: #7e7e82;
$color-text-ptice-title: #7e7e82;
$padding-body: 16px;
$padding-body-tablet: 24px;
$padding-body-desktop: 34px;
$padding-menu-sides: 24px;

@mixin list-reset {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

@mixin adaptive-paddings-body-left-right {
  padding-left: $padding-body;
  padding-right: $padding-body;

  @media screen and (min-width: $tablet) {
    padding-left: $padding-body-tablet;
    padding-right: $padding-body-tablet;
  }

  @media screen and (min-width: $desktop) {
    padding-left: $padding-body-desktop;
    padding-right: $padding-body-desktop;
  }
}

@mixin adaptive-paddings-section-bottom {
  padding-bottom: 24px;

  @media screen and (min-width: $tablet) {
    padding-bottom: 32px;
  }

  @media screen and (min-width: $desktop) {
    padding-bottom: 50px;
  }
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'TT Lakes', 'serif';
  font-size: 14px;
  font-weight: 400;
  color: $color-text-body;
}

@import 'page-wrapp';
@import 'social-list';
@import 'header';
@import 'button';
@import 'title';
@import 'main';
@import 'page-menu';
@import 'about';
@import 'btn-more';
@import 'nav';
@import 'contacts';
@import 'langs';
@import 'brand-card';
@import 'technic-card';
@import 'repair';
@import 'drop-down-grid';
@import 'section-title';
@import 'modal-background';
@import 'modal';
@import 'aside';
@import 'form';
@import 'price';
@import 'prices';
@import 'prices-for-services';
@import 'swiper';
@import 'footer'