@import '~normalize.css';
@import 'fonts';

// bold - h1, tel, table button,
// medium -  nav, nav , read/watch more, отзыв, mail, leng,
//           ремонт карт.,th, get комер предл, footer
// regular - body , h2, table body, bottom table <p>,

$tablet: 768px;
$desktop: 1366px;
$color-background-main: #f8f8f8;
$color-background-header: #ffffff;
$color-background-modal: #ffffff;
$color-background-menu-item: #ffffff;
$color-background-button: #ff3e79;
$color-border: #41f6d7;
$color-border-field: #eaeaea;
$color-text-placeholder: #B5B6BC;
$color-text-body: #1b1c21;
$color-text-page-menu: #7e7e82;
$color-text-hover: #7e7e82;
$color-text-h2: #7e7e82;
$padding-body: 16px;
$padding-body-tablet: 24px;
$padding-body-desktop: 34px;
$padding-menu-sides: 24px;

@mixin list-reset {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'TT Lakes', 'serif';
  font-size: 14px;
  font-weight: 500;
  color: $color-text-body;
}

@import 'page-wrapp';
@import 'social-list';
@import 'header';
@import 'button';
@import 'title';
@import 'main';
@import 'page-menu';
@import 'about';
@import 'btn-more';
@import 'nav';
@import 'contacts';
@import 'langs';
@import 'brands';
@import 'drop-down-grid';
@import 'swiper';
@import 'section-title';
@import 'modal-background';
@import 'modal';
@import 'aside';
@import 'form';