@import '~normalize.css';
@import 'fonts';

// bold - h1, tel, table button,
// medium -  nav, nav , read/watch more, отзыв, mail, leng, ремонт карт.,th, get комер предл, footer
//
// regular - body , h2, table body, bottom table <p>,

$breakpoint-1: 768px;
$breakpoint-2: 1440px;
$color-background-main: #f8f8f8;
$color-background-header: #ffffff;
$color-background-menu-item: #ffffff;
$color-background-button: #ff3e79;
$color-border: #41F6D7;
$color-text-menu: #7E7E82;
$color-text-h2: #7E7E82;
$padding-body-breakpoint-0: 16px;
$padding-body-breakpoint-1: 24px;
$padding-body-breakpoint-2: 34px;


html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'TT Lakes', 'serif';
  font-size: 14px;
  font-weight: 500;
}

.wrapp {
  max-width: 1440px;
  margin: 0 auto;
  background-color: $color-background-main;
}

@media screen and (min-width: $breakpoint-2) {
  .wrapp {
    display: flex;

  }
  
}

@import 'header';
@import 'buttons';
@import 'nav';
@import 'main';
@import 'menu';

