@import '~normalize.css';
@import 'fonts.css';

body {
  font-family: 'Borlow-Bold';
  background-color: yellow;
}

div {
  width: 1000px;
  height: 1000px;
  /* background-image: url('../img/svg/logo.svg'); */
  background-size: cover;
}